body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  color: #5f6368;
  background-color: #f8f9fa;
}
#links {
  margin: 0;
  padding: 0;
  padding-bottom: 15;
}

#links > li {
  list-style: none;
  padding-bottom: 10px;
}

#links > li > a {
  text-decoration: none;
  color: #5f6368;
  font-size: 15px;
}

#links > li > a > img {
  height: 14;
  padding: 0 10 0 2;
}

#main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 150;
  min-width: 150;
}

h1 {
  font-size: 23;
  padding-bottom: 23;
  margin: 0;
}
