body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  color: rgb(28, 28, 30);
  background-color: #f8f9fa;
}
#links {
  margin: 0;
  padding: 0;
}

#links > li {
  display: inline-block;
  list-style: none;
  padding: 0 4px;
}

#links > li > a > img {
  width: 30px;
}

#main-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
