body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  color: #565a5e;
  background-color: #f8f9fa;
}

h1 {
  font-size: 23;
  margin: 5 0;
}

h2 {
  font-size: 15;
  margin: 7 0;
}

#links {
  margin: 0;
  padding: 0;
}

#links > li {
  list-style: none;
  padding-bottom: 6px;
}

#links > li > a {
  text-decoration: none;
  color: #565a5e;
  font-size: 15px;
}

#links > li > a:hover {
  color: #111;
  font-size: 15.1px;
}

#links > li > a > img {
  height: 14;
  padding: 0 10 0 2;
}

#links > li > a:hover > img {
  height: 14.5;
}

#main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 255;
  min-width: 230;
}

#project-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 330;
  min-width: 330;
}

#description {
  margin: 0;
  padding: 0;
}

#badge {
  width: 150;
}

#badges {
  padding: 0;
  margin: 0 auto;
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  width: 330;
  min-width: 330;
}

.section {
  margin: 0 0;
  padding-bottom: 8;
}

#portrait-image {
  width: 200;
  height: 200;
  margin: 23 0;
}

#portrait-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
